
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Map prototyping options
      </h1>

      <h2 class="govuk-heading-l">SVG with clickable areas</h2>
      {% include "includes/svg-map.html" %}




      <style media="screen">
        .iframe-container {
          overflow: hidden;
          padding-top: 56.25%;
          position: relative;
        }

        .iframe-container iframe {
          border: 0;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      </style>
      <h2 class="govuk-heading-l">GeoJSON file hosted on GitHub</h2>
      <div class="iframe-container">
        <script src="https://embed.github.com/view/geojson/chrisadesign/ELM-application-prototype/master/app/assets/images/map.geojson"></script>
      </div>






      <!-- <p>Iframe:</p>
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1RylhTXpo4gyaMTsDme9tKLTfnzypzt_q" width="640" height="480"></iframe> -->
    </div>
</div>

{% endblock %}
